<html class="wp-toolbar immersion-color" lang="zh-CN">
<head>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>文章 ‹ — WordPress</title>

    <link href="/static/css/admin/load-style.css"
          media="all" rel="stylesheet" type="text/css">
    <style type="text/css">
        @media print {
            #wpadminbar {
                display: none;
            }
        }
    </style>
    <link href="/static/css/admin/admin.css" id="colors-css" media="all"
          rel="stylesheet">
    <style id="wp-emoji-styles-inline-css">

    </style>


    <style id="themecolor_css">
        :root {
            --themecolor: #5e72e4;
            --themecolor-R: 94;
            --themecolor-G: 114;
            --themecolor-B: 228;
            --themecolor-H: 231;
            --themecolor-S: 71;
            --themecolor-L: 63;
        }
    </style>

    <meta content="width=device-width,initial-scale=1.0" name="viewport">
</head>
<body class="wp-admin wp-core-ui js edit-php auto-fold admin-bar post-type-post branch-6-5 version-6-5-4 admin-color-argon locale-zh-cn sticky-menu svg customize-support">


<div id="wpwrap">

    <div aria-label="主页" id="adminmenumain" role="navigation">
        <a class="screen-reader-shortcut" href="#wpbody-content">跳至主内容</a>
        <a class="screen-reader-shortcut" href="#wp-toolbar">跳至工具栏</a>
        <div id="adminmenuback"></div>
        <div id="adminmenuwrap">
            <ul id="adminmenu">


                <!--              -->
                <!--                <li aria-hidden="true" class="wp-not-current-submenu wp-menu-separator">-->
                <!--                    <div class="separator"></div>-->
                <!--                </li>-->
                <li class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-post open-if-no-js menu-top-first" id="menu-posts">
                    <a aria-haspopup="false" class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-post open-if-no-js menu-top-first" href="article">
                        <div class="wp-menu-arrow">
                            <div></div>
                        </div>
                        <div aria-hidden="true" class="wp-menu-image dashicons-before dashicons-admin-post"><br></div>
                        <div class="wp-menu-name">文章</div>
                    </a>

                </li>

                <li class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" id="menu-users">
                    <a aria-haspopup="false"
                       class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users"
                       href="user">
                        <div class="wp-menu-arrow">
                            <div></div>
                        </div>
                        <div aria-hidden="true" class="wp-menu-image dashicons-before dashicons-admin-users"><br></div>
                        <div class="wp-menu-name">用户</div>
                    </a>
                    <!--                    <ul class="wp-submenu wp-submenu-wrap">-->
                    <!--                        <li aria-hidden="true" class="wp-submenu-head">用户</li>-->
                    <!--&lt;!&ndash;                        <li class="wp-first-item current"><a aria-current="page" class="wp-first-item current"&ndash;&gt;-->
                    <!--&lt;!&ndash;                                                             href="/api/getUserByKeyword">所有用户</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;                        <li><a href="/user/register">添加用户</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;                        <li><a href="profile.php">个人资料</a></li>&ndash;&gt;-->
                    <!--                    </ul>-->
                </li>


                <!--                <li aria-hidden="true" class="wp-not-current-submenu wp-menu-separator">-->
                <!--                    <div class="separator"></div>-->
                <!--                </li>-->


                <!--                <li aria-hidden="true" class="wp-not-current-submenu wp-menu-separator">-->
                <!--                    <div class="separator"></div>-->
                <!--                </li>-->

                <li class="hide-if-no-js" id="collapse-menu">

                </li>
            </ul>
        </div>
    </div>
    <div id="wpcontent">

        <div class="nojq" id="wpadminbar">
            <div aria-label="工具栏" class="quicklinks" id="wp-toolbar" role="navigation">
                <ul class="ab-top-menu" id="wp-admin-bar-root-default" role="menu">
                    <li id="wp-admin-bar-menu-toggle"><a aria-expanded="false" class="ab-item" href="#" role="menuitem"><span aria-hidden="true" class="ab-icon"></span><span class="screen-reader-text">菜单</span></a>
                    </li>
                    <li class="menupop" id="wp-admin-bar-wp-logo"><a aria-expanded="false" class="ab-item" href="https://0x00.fun/wp-admin/about.php" role="menuitem"><span aria-hidden="true" class="ab-icon"></span><span class="screen-reader-text">关于 WordPress</span></a>
                        <div class="ab-sub-wrapper">
                            <ul aria-label="关于 WordPress" class="ab-submenu" id="wp-admin-bar-wp-logo-default" role="menu">
                                <li id="wp-admin-bar-about"><a class="ab-item" href="https://0x00.fun/wp-admin/about.php" role="menuitem">关于 WordPress</a></li>
                                <li id="wp-admin-bar-contribute"><a class="ab-item" href="https://0x00.fun/wp-admin/contribute.php" role="menuitem">参与</a></li>
                            </ul>
                            <ul aria-label="关于 WordPress" class="ab-sub-secondary ab-submenu" id="wp-admin-bar-wp-logo-external" role="menu">
                                <li id="wp-admin-bar-wporg"><a class="ab-item" href="https://cn.wordpress.org/" role="menuitem">WordPress.org</a></li>
                                <li id="wp-admin-bar-documentation"><a class="ab-item" href="https://wordpress.org/documentation/" role="menuitem">文档</a></li>
                                <li id="wp-admin-bar-learn"><a class="ab-item" href="https://learn.wordpress.org/" role="menuitem">学习 WordPress</a></li>
                                <li id="wp-admin-bar-support-forums"><a class="ab-item" href="https://cn.wordpress.org/support/forums/" role="menuitem">支持</a></li>
                                <li id="wp-admin-bar-feedback"><a class="ab-item" href="https://cn.wordpress.org/support/forum/suggestions/" role="menuitem">反馈</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menupop" id="wp-admin-bar-site-name"><a aria-expanded="false" class="ab-item" href="https://0x00.fun/" role="menuitem">0x00.fun</a>
                        <div class="ab-sub-wrapper">
                            <ul aria-label="0x00.fun" class="ab-submenu" id="wp-admin-bar-site-name-default" role="menu">
                                <li id="wp-admin-bar-view-site"><a class="ab-item" href="https://0x00.fun/" role="menuitem">查看站点</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="wp-admin-bar-updates"></li>
                    <li id="wp-admin-bar-comments"></li>
                    <li class="menupop" id="wp-admin-bar-new-content">
                        <div class="ab-sub-wrapper">
                            <ul aria-label="新建" class="ab-submenu" id="wp-admin-bar-new-content-default" role="menu">
                                <li id="wp-admin-bar-new-post"><a class="ab-item" href="https://0x00.fun/wp-admin/post-new.php" role="menuitem">文章</a></li>
                                <li id="wp-admin-bar-new-media"><a class="ab-item" href="https://0x00.fun/wp-admin/media-new.php" role="menuitem">媒体</a></li>
                                <li id="wp-admin-bar-new-link"><a class="ab-item" href="https://0x00.fun/wp-admin/link-add.php" role="menuitem">链接</a></li>
                                <li id="wp-admin-bar-new-page"><a class="ab-item" href="https://0x00.fun/wp-admin/post-new.php?post_type=page" role="menuitem">页面</a></li>
                                <li id="wp-admin-bar-new-shuoshuo"><a class="ab-item" href="https://0x00.fun/wp-admin/post-new.php?post_type=shuoshuo" role="menuitem">说说</a></li>
                                <li id="wp-admin-bar-new-user"><a class="ab-item" href="https://0x00.fun/wp-admin/user-new.php" role="menuitem">用户</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="ab-top-secondary ab-top-menu" id="wp-admin-bar-top-secondary" role="menu">
                    <li class="menupop with-avatar" id="wp-admin-bar-my-account"><a aria-expanded="false" class="ab-item" href="https://0x00.fun/wp-admin/profile.php" role="menuitem">您好，<span class="display-name">admin</span><img alt="" class="avatar avatar-26 photo" decoding="async" height="26" loading="lazy" src="https://secure.gravatar.com/avatar/a4b8f70cea03fbfc92450b4031b71df7?s=26&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/a4b8f70cea03fbfc92450b4031b71df7?s=52&amp;d=mm&amp;r=g 2x" width="26"></a>
                        <div class="ab-sub-wrapper">
                            <ul aria-label="您好，admin" class="ab-submenu" id="wp-admin-bar-user-actions" role="menu">
                                <li id="wp-admin-bar-user-info"><a class="ab-item" href="https://0x00.fun/wp-admin/profile.php" role="menuitem"><img alt="" class="avatar avatar-64 photo" decoding="async" height="64" loading="lazy" src="https://secure.gravatar.com/avatar/a4b8f70cea03fbfc92450b4031b71df7?s=64&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/a4b8f70cea03fbfc92450b4031b71df7?s=128&amp;d=mm&amp;r=g 2x" width="64"><span class="display-name">admin</span><span class="username">qxqzx</span><span class="display-name edit-profile">编辑个人资料</span></a></li>
                                <li id="wp-admin-bar-logout"><a class="ab-item" href="https://0x00.fun/wp-login.php?action=logout&amp;_wpnonce=74af8f4875" role="menuitem">注销</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div id="wpbody" role="main">

            <div id="wpbody-content">
                <div class="metabox-prefs" id="screen-meta">



                </div>
                <div id="screen-meta-links">
                    <div class="hide-if-no-js screen-meta-toggle" id="screen-options-link-wrap">

                    </div>
                    <div class="hide-if-no-js screen-meta-toggle" id="contextual-help-link-wrap">

                    </div>
                </div>
                <div class="wrap">
                    <h1 class="wp-heading-inline">
                        文章</h1>

                    <a class="page-title-action" href="/article/createArticle">写文章</a>
                    <hr class="wp-header-end">


<!--                    <h2 class="screen-reader-text">筛选文章列表</h2>-->
                    <ul class="subsubsub">
                        <li class="all"><a aria-current="page" class="current" href="edit.php?post_type=post">全部<span class="count">（18）</span></a>
                        </li>

                    </ul>
                    <form id="posts-filter" method="get">

                        <p class="search-box">
                            <label class="screen-reader-text" for="post-search-input">搜索文章:</label>
                            <input id="post-search-input" name="s" type="search" value="">
                            <input class="button" id="search-submit" type="submit" value="搜索文章"></p>

                        <input class="post_status_page" name="post_status" type="hidden" value="all">
                        <input class="post_type_page" name="post_type" type="hidden" value="post">


                        <input id="_wpnonce" name="_wpnonce" type="hidden" value="1071633470"><input name="_wp_http_referer" type="hidden" value="/wp-admin/edit.php">

                        <h2 class="screen-reader-text">文章列表</h2>

                        <table class="wp-list-table widefat fixed striped table-view-list posts">
                            <caption class="screen-reader-text">表格按日期排序。 降序。</caption>
                            <thead>
                            <tr>
                                <td class="manage-column column-cb check-column" id="cb">
<!--                                    <label for="cb-select-all-1"><span class="screen-reader-text">全选</span></label>-->
                                </td>
                                <th abbr="标题" class="manage-column column-title column-primary sortable desc" id="title" scope="col"><a href="https://0x00.fun/wp-admin/edit.php?orderby=title&amp;order=asc"><span>标题</span><span class="sorting-indicators"><span aria-hidden="true" class="sorting-indicator asc"></span><span aria-hidden="true" class="sorting-indicator desc"></span></span> <span class="screen-reader-text">升序排列。</span></a></th>
                                <th class="manage-column column-author" id="author" scope="col">作者</th>
                                <th class="manage-column column-categories" id="categories" scope="col">分类目录</th>

                                <th abbr="日期" aria-sort="descending" class="manage-column column-date sorted desc" id="date" scope="col"><a href="https://0x00.fun/wp-admin/edit.php?orderby=date&amp;order=asc"><span>日期</span></a>
                                </th>
                            </tr>
                            </thead>

                            <tbody id="the-list">
                            {{range .Articles}}
                            <tr class="iedit author-self level-0 post-419 type-post status-draft format-standard hentry category-6" id="post-419">
                                <th class="check-column" scope="row">
                                    <div class="locked-indicator">
                                        <span aria-hidden="true" class="locked-indicator-icon"></span>
                                        <span class="screen-reader-text"></span>
                                    </div>
                                </th>
                                <td class="title column-title has-row-actions column-primary page-title" data-colname="标题">
                                    <div class="locked-info"><span class="locked-avatar"></span> <span class="locked-text"></span></div>
                                    <strong><a aria-label="" class="row-title" href="#">{{.Title}}</a></strong>
                                    <img src="{{.ImageURL}}" width="180">
                                    <div class="row-actions">
                                        <span class="edit"><a aria-label="编辑" href="#" onclick="editArticle({{.ID}})">编辑</a> | </span>
                                        <span class="inline hide-if-no-js"></span>
                                        <span class="view"><a aria-label="打开" href="/article/getArticleByID?id={{.ID}}">打开</a></span>
                                        <span class="delete"><a aria-label="删除" href="#" onclick="deleteArticle({{.ID}})">删除</a></span>
                                    </div>
                                    <button class="toggle-row" type="button"><span class="screen-reader-text">显示详情</span></button>
                                </td>
                                <td class="author column-author" data-colname="作者"><a href="#">{{.Author}}</a></td>
                                <td class="categories column-categories" data-colname="分类目录"><a href="/article/getArticleByCategory?category={{.Category}}&page=1">{{.Category}}</a></td>
                                <td class="date column-date" data-colname="日期">最后修改<br>{{.CreateTime}}</td>
                            </tr>
                            {{end}}
                            </tbody>
                            <div class="pagination">
                                {{if gt .TotalPages 1}}
                                {{if .HasPrev}}
                                <a href="?page={{.PrevPage}}{{if ne .Keyword ""}}&keyword={{.Keyword}}{{end}}">上一页</a>
                                {{end}}

                                {{range $page := seq 1 .TotalPages}}
                                <a href="?page={{$page}}{{if ne $.Keyword ""}}&keyword={{$.Keyword}}{{end}}" class="{{if eq $page $.CurrentPage}}active{{end}}">{{$page}}</a>
                                {{end}}

                                {{if .HasNext}}
                                <a href="?page={{.NextPage}}{{if ne .Keyword ""}}&keyword={{.Keyword}}{{end}}">下一页</a>
                                {{end}}
                                {{end}}
                            </div>


                            <script src="/static/script/jquery-3.7.1.js"></script>
                                    <script>
                                        function editArticle(id) {
                                            // 重定向到编辑页面（根据实际的编辑页面URL进行替换）
                                            window.location.href = "/article/editArticle?id=" + id;
                                        }


                                        function deleteArticle(id) {
                                            if (confirm("确认要删除这篇文章吗？")) {
                                                $.ajax({
                                                    url: "/api/deleteArticle",
                                                    method: "POST",
                                                    data: id.toString(), // 将 ID 转换为字符串
                                                    contentType: "text/plain", // 指定内容类型为纯文本
                                                    success: function(response) {
                                                        if (response === "ok") {
                                                            $("#article-" + id).remove();
                                                            alert("删除成功")
                                                            location.reload();

                                                        } else {
                                                            alert("删除文章失败。");
                                                        }
                                                    },
                                                    error: function(error) {
                                                        console.error('删除文章出错:', error);
                                                        alert("删除文章失败，请稍后重试。");
                                                    }
                                                });
                                            }
                                        }
                                    </script>

                            <!-- 分页部分 -->






                            <tfoot>
                            <tr>
                                <td class="manage-column column-cb check-column">
                                    <label for="cb-select-all-2"><span class="screen-reader-text">全选</span></label>
                                </td>
                                <th abbr="标题" class="manage-column column-title column-primary sortable desc" scope="col"><a href="https://0x00.fun/wp-admin/edit.php?orderby=title&amp;order=asc"><span>标题</span>
                                    <span class="screen-reader-text">升序排列。</span></a></th>
                                <th class="manage-column column-author" scope="col">作者</th>
                                <th class="manage-column column-categories" scope="col">分类目录</th>


                                <th abbr="日期" aria-sort="descending" class="manage-column column-date sorted desc" scope="col"><a href="https://0x00.fun/wp-admin/edit.php?orderby=date&amp;order=asc"><span>日期</span></a>
                                </th>
                            </tr>
                            </tfoot>

                        </table>


                    </form>


                    <div id="ajax-response"></div>
                    <div class="clear"></div>
                </div>


                <div class="clear"></div>
            </div><!-- wpbody-content -->
            <div class="clear"></div>
        </div><!-- wpbody -->
        <div class="clear"></div>
    </div><!-- wpcontent -->

<!--    <div id="wpfooter" role="contentinfo">-->
<!--        <p class="alignleft" id="footer-left">-->
<!--&lt;!&ndash;            <span id="footer-thankyou">感谢使用 <a href="https://cn.wordpress.org/">WordPress</a> 进行创作。</span></p>&ndash;&gt;-->
<!--        <p class="alignright" id="footer-upgrade">-->
<!--            6.5.4 版本 </p>-->
<!--        <div class="clear"></div>-->
<!--    </div>-->
    <div class="hidden" id="wp-auth-check-wrap">
        <div id="wp-auth-check-bg"></div>
        <div id="wp-auth-check">
            <button class="wp-auth-check-close button-link" type="button"><span class="screen-reader-text">
		关闭对话框	</span></button>
            <div class="loading" data-src="https://0x00.fun/wp-login.php?interim-login=1&amp;wp_lang=zh_CN" id="wp-auth-check-form"></div>
            <div class="wp-auth-fallback">
                <p><b class="wp-auth-fallback-expired" tabindex="0">会话已过期</b></p>
                <p><a href="https://0x00.fun/wp-login.php" target="_blank">请重新登录。</a>
                    登录页将在新标签页中打开。登录后您可关闭该页并返回本页。</p>
            </div>
        </div>
    </div>


    <p class="a11y-speak-intro-text" hidden="hidden" id="a11y-speak-intro-text" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;">
        通知</p>
    <div aria-atomic="true" aria-live="assertive" aria-relevant="additions text" class="a11y-speak-region" id="a11y-speak-assertive" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;"></div>
    <div aria-atomic="true" aria-live="polite" aria-relevant="additions text" class="a11y-speak-region" id="a11y-speak-polite" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;"></div>

</div>

&gt;


</body>
</html>