<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
it新闻
<ul>
    {{range .It}}
    <li>
        <span class="date">{{.CreateTime}}</span>
        <a href="/article/GetArticleByID?id={{.ID}}" title="{{.Title}}">{{.Title}}</a>
    </li>
    {{end}}
    Pe新闻
    {{range .Pe}}
    <li>
        <span class="date">{{.CreateTime}}</span>
        <a href="/article/GetArticleByID?id={{.ID}}" title="{{.Title}}">{{.Title}}</a>
    </li>
    {{end}}
    {{range .Shipin}}
    <li>
        <span class="date">{{.CreateTime}}</span>
        <a href="/article/GetArticleByID?id={{.ID}}" title="{{.Title}}">{{.Title}}</a>
    </li>
    {{end}}
    {{range .Music}}
    <li>
        <span class="date">{{.CreateTime}}</span>
        <a href="/article/GetArticleByID?id={{.ID}}" title="{{.Title}}">{{.Title}}</a>
    </li>
    {{end}}
</ul>

</body>
</html>